# uv virtual environments
src/.venv

# uv project data / cache
src/.uv/

# PEP 582 local packages (used by uv if enabled)
__pypackages__/

# Python bytecode
*.pyc

# Optional: Python version file created by uv
.python-version

# Other
.vscode
src/data_loader/__pycache__/
output/
src/uv.lock

